data/data_lab_03/** filter=lfs diff=lfs merge=lfs -text
project/model/best_model.pth filter=lfs diff=lfs merge=lfs -text
project/model/model.pth filter=lfs diff=lfs merge=lfs -text
project/model/best_model_resnet.pth filter=lfs diff=lfs merge=lfs -text
project/model/model_resnet.pth filter=lfs diff=lfs merge=lfs -text
project/model/old_best_model.pth filter=lfs diff=lfs merge=lfs -text
project/model/old_model.pth filter=lfs diff=lfs merge=lfs -text
